:host {
  display: block;
  width: 90%;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
  padding: 20px  40px;
  box-sizing: border-box;
  background-color: #f4f4f4;

  @media (max-width: 900px) {
    width: auto;
    padding: 0
  }
}

mat-divider {
  margin-block: 26px;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
