:host {
  width: 100%;
  display: block;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 30%;
}

@media (max-width: 740px) {
  table .hiden-column {
    display: none;
  }
}

@media (max-width: 630px) {
  table .hiden-column-prioridade {
    display: none;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  table .hiden-column-nota {
    display: none;
  }
}

@media (max-width: 400px) {
  table .hiden-column-solicitado {
    display: none;
  }
  // mat-mdc-paginator
  ::ng-deep mat-paginator .mat-mdc-paginator-outer-container {
    .mat-mdc-paginator-container {
      justify-content: center;
      gap: 10px;
      padding: 19px;
    }
  }
}
