.example-spacer {
  flex: 1 1 auto;
}

figure {
  max-width: 150px;
  margin: 0;
  img {
    width: 100%;
  }
}

.usuario-logado {
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 6px;

  .usuario-nome {
    font-size: 14px;
  }
}

.usuario-logado ::ng-deep.mat-mdc-icon-button:hover{
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid red;
}

@media(max-width: 400px) {
  figure {
    max-width: 130px;
  }

  .usuario-logado {
    display: none;
  }
}
